# Dependencies
node_modules
.env
package-lock.json

# Hardhat files
/cache
/artifacts
/typechain
/typechain-types
/coverage
/coverage.json
/gas-report.txt
/.openzeppelin

# Deployment files
/deployments
/deployed
/build
/dist
ignition/deployments/chain-31337

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
